<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white py-3 padding-bottom-2">
    <div class="container-fluid">
      <div class="col-3">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/logo-smallerrrr 1.png" class="d-inline-block align-top logo-main" alt="" />
          <img src="../../../assets/images/blockcities-text-200 1.png"
            class="d-inline-block align-top logo-block-cities" alt="" />
        </a>
      </div>
      <div class="col-9">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col-3">
                <div id="geocoder"></div>
          </div>
          <div class="col-8">
            <ul class="navbar-nav mr-auto navbar-menu">
              <!--<li class="nav-item navbar-item active mx-5">
                <a class="nav-link " href="#">Statistics <span class="sr-only">(current)</span></a>
              </li> -->
              <li class="nav-item navbar-item mx-5">
                <a class="nav-link " href="https://map.blockcities.com">Overview</a>
              </li>
              <li class="nav-item navbar-item mx-5">
                <a class="nav-link" href="https://tiles.blockcities.com" target="_blank">Tiles</a>
              </li>
              <li class="nav-item navbar-item mx-5">
                <a style="width: 200px !important" class="nav-link" href="https://blockcities.com" target="_blank">Visit Blockcities</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>